@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'paperwhite';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: #ffffff;
  --color-base-200: #ffffff;
  --color-base-300: #f5f5f4;
  --color-base-content: oklch(0% 0 0);
  --color-primary: #009966;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #68c2a4;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #648e23;
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: #eaefef;
  --color-neutral-content: oklch(0% 0 0);
  --color-info: #f0b100;
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(100% 0 0);
  --color-warning: #ff6900;
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(45% 0.188 13.697);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'paperblack';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: #404040;
  --color-base-200: #262626;
  --color-base-300: #171717;
  --color-base-content: oklch(100% 0 0);
  --color-primary: #009966;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #68c2a4;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #648e23;
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: #eaefef;
  --color-neutral-content: oklch(0% 0 0);
  --color-info: #f0b100;
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(100% 0 0);
  --color-warning: #ff6900;
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(45% 0.188 13.697);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
