@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'paperwhite';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: #ff9b51;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #25343f;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #bfc9d1;
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: #eaefef;
  --color-neutral-content: oklch(0% 0 0);
  --color-info: oklch(45% 0.085 224.283);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(45% 0.188 13.697);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'paperblack';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(30.857% 0.023 264.149);
  --color-base-200: oklch(28.036% 0.019 264.182);
  --color-base-300: oklch(26.346% 0.018 262.177);
  --color-base-content: oklch(100% 0 0);
  --color-primary: #ff9b51;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #25343f;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #bfc9d1;
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: #eaefef;
  --color-neutral-content: oklch(0% 0 0);
  --color-info: oklch(45% 0.085 224.283);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(45% 0.188 13.697);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
